
html,body{
	height: 100%;
}

header{
	background-image: url(../img/castelo.jpg);
	height: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}

header h1{
	margin-top: 0;
	margin-bottom: 0;
}

#paineis-sobre{
	margin-top: 20px;
	
}

.titulo-depoimentos{
	background-color: #0275D8;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFF;
	margin-bottom: 0;
	font-size: 22px
}

.contato-select, 
.grupo-radio { 
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.grupo-radio .radio:first-child {
    margin-top: 0;
}

.casafina-banner{
	color: #FFF;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	width: 80%;
	border-radius: 8px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: transform .3s;

}


footer{
	background-color: #333;
	color: #FFF;
	padding: 20px;
	margin-top: 10px;

}

footer address:last-child{
	margin-bottom: 0;

}

@media(min-width: 728px){
	#paineis-sobre{
		margin-top: 0;
	}

}

@media(min-width: 992px;){
	.casafina-banner{
		left: 0;
		transform: translate(0,-80%);
	}
}